.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  /* for responsive */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  /* for responsive */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
